/* Center the button */
.analyzeButtonContainer {
  text-align: center;
  margin-top: 20px;
}

/* Button styling */
.analyzeButton {
  position: relative;
  width: 140px; /* Adjusted to be slightly wider */
  height: 50px; /* Adjusted height */
  background: transparent;
  font-size: 17px;
  font-weight: 900;
  color: #ffffff;
  border: 3px solid rgb(255, 165, 0);
  border-radius: 12px;
  text-align: center;
  line-height: 50px; /* Center the text vertically */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  padding: 0; /* Ensure no padding is affecting vertical alignment */
  margin-top: 1rem;
}

.analyzeButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 50px;
  background-color: #66bb6a; /* Slightly lighter green */
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.analyzeButton:hover::before {
  background-color: #66bb6a;
}

.analyzeButton:hover {
  box-shadow: inset 0px 0px 25px #66bb6a;
}

.analyzeButton:active {
  transform: scale(0.95);
}

/* Additional styling for the analyzing state */
.analyzeButton.analyzing::before {
  background-color: #66bb6a;
}

.analyzeButton.analyzing {
  color: #ffffff;
  cursor: default; /* Change cursor to default when analyzing */
}

/* Additional styling for the done state */
.analyzeButton.done {
  background-color: #4caf50; /* Green background for done state */
  color: #ffffff;
  border: 3px solid #4caf50;
}
