.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  align-items: center; /* Center all items within the group */
}

.inputLabel {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inp {
  width: 100%;
  padding: 0.8em;
  border: 2px solid #555;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inp::placeholder {
  color: #aaa;
}

.inp:focus {
  border-color: #f39923;
  outline: none;
  box-shadow: 0 0 5px rgba(243, 153, 35, 0.5);
}

.inp.focused {
  border-color: #f39923;
}

.generateButton {
  margin-top: 1em;
  /* Center the button */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  /* Adjust width if needed */
}

.generateButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
